// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~jquery-datetimepicker/jquery.datetimepicker.css';
@import 'buttons';
@import 'spinner';



.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: orange;
  color: white;
  a {
    color: white;
  }
}

.active-sub {
  background-color: $primary;
  color: white;
  font-weight: bold;
}

.service-component {
  display: none;
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

.expand-div {
  display: none; 
}
 
.pac-container {
  z-index: 1000000;
}